<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Daita Skincare &#8211; Pancarkan Pesona Cantikmu</title>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link href="style/main.css" rel="stylesheet" />
</head>

<body>

    <div class="page-dashboard">
        <div class="d-flex" id="wrapper" data-aos="fade-right">
            <!-- Sidebar -->
            <div class="border-right" id="sidebar-wrapper">
                <div class="sidebar-heading text-center">
                    <img src="/images/monitor.png" alt="" class=" w-50 my-4">
                </div>
                <div class="list-group list-group-flush ">
                    <a href="/admin.html" class="list-group-item list-group-item-active mt-5">
                        <img src="/images/SVG/dashboard.svg" alt="" class="mr-2 ">Dashboard
                    </a>
                    <a href="/dashboard-products.html" class="list-group-item list-group-item-active ">
                        <img src="/images/SVG/wish.svg" alt="" class="mr-2">My Product
                    </a>
                    <a href="/dashboard-transaction.html" class="list-group-item list-group-item-active active ">
                        <img src="/images/SVG/transaction.svg" alt="" class="mr-2">Transaction
                    </a>
                    <a href="/dashboard-profile.html" class="list-group-item list-group-item-active ">
                        <img src="/images/SVG/profile.svg" alt="" class="mr-2">Profile
                    </a>
                    <a href="/index.html" class="list-group-item list-group-item-active ">
                        <img src="/images/SVG/sign-out-dashboard.svg" alt="">

                    </a>
                </div>
            </div>

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <nav class="navbar navbar-expand-lg navbar-light navbar-store fixed-top" data-aos="fade-down">
                    <div class="container-fluid">
                        <button class="btn btn-secondary d-md-none mr-auto mr-2" id="menu-toggle">
                            &laquo; Menu
                        </button>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav ">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">

                            <!-- Desktop version -->
                            <ul class="navbar-nav navbar-store d-none d-lg-flex ml-auto">
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown">
                                        <img src="/images/drawable-xxxhdpi/icon_user.png" alt="" class="rounded-circle mr-2 profile-picture"> Hi,User
                                    </a>
                                    <div class="dropdown-menu">
                                        <a href="/dashboard.html" class="dropdown-item">Dashboard</a>
                                        <a href="/dashboard-account.html" class="dropdown-item">Setting</a>
                                        <div class="dropdown-divider"></div>
                                        <a href="/" class="dropdown-item">Logout</a>
                                    </div>
                                    <li>
                                        <a href="" class="nav-link d-inline-block mt-2">
                                            <img src="/images/icon_cart_filled.svg" alt="">
                                            <div class="card-badge">2</div>
                                        </a>
                                    </li>
                                </li>
                            </ul>
                            <ul class="navbar-nav navbar-store d-block d-lg-none">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Hi, User</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link d-inline-block">Cart</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </nav>

                <!-- Section Content -->
                <div class="section-content section-dashboard-home" data-aos="fade-up">
                    <div class="container-fluid">
                        <div class="dashboard-heading">
                            <h2 class="dashboard-title">#DA280800</h2>
                            <p class="dashboard-subtitle">Transactions Details</p>
                        </div>
                        <div class="dashboard-content" id="transactionDetails">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card card-list mt-3">
                                        <div class="card-body p-md-5">
                                            <div class="col-12 col-md-12">
                                                <div class="row">
                                                    <!-- Image Mobile Version -->
                                                    <div class="col-12 d-lg-none mb-3 mt-3">
                                                        <img src="/images/drawable-mdpi/product-details-dashboard.png" alt="">
                                                    </div>
                                                    <!-- End -->
                                                    <div class="col-12 col-md-3">
                                                        <div class="product-title">ID Transaction</div>
                                                        <div class="product-subtitle">#DA280800</div>
                                                    </div>
                                                    <div class="col-12 col-md-4">
                                                        <div class="product-title">Product Name</div>
                                                        <div class="product-subtitle">Brightening Facial Foam</div>
                                                    </div>
                                                    <div class="col-12 col-md-4">
                                                        <div class="product-title">Total Amount</div>
                                                        <div class="product-subtitle">Rp. 35.000</div>
                                                    </div>
                                                    <div class="col-12 col-md-3">
                                                        <div class="product-title">Customer Name</div>
                                                        <div class="product-subtitle">naufalabiyyu</div>
                                                    </div>
                                                    <div class="col-12 col-md-4">
                                                        <div class="product-title">Date of Transaction</div>
                                                        <div class="product-subtitle">17 November, 2020</div>
                                                    </div>
                                                    <div class="col-12 col-md-4">
                                                        <div class="product-title">Payment Status</div>
                                                        <div class="product-subtitle text-success">Success</div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 mt-4 mb-3">
                                                        <h5>Shipping Information</h5>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="row">
                                                            <div class="col-12 col-md-6">
                                                                <div class="product-title">Address 1</div>
                                                                <div class="product-subtitle">Jl. Kahuripan Raya</div>
                                                            </div>
                                                            <div class="col-12 col-md-6">
                                                                <div class="product-title">Address 2</div>
                                                                <div class="product-subtitle">Perumnas 3</div>
                                                            </div>
                                                            <div class="col-12 col-md-6">
                                                                <div class="product-title">Province</div>
                                                                <div class="product-subtitle">Banten</div>
                                                            </div>
                                                            <div class="col-12 col-md-6">
                                                                <div class="product-title">City</div>
                                                                <div class="product-subtitle">Tangerang</div>
                                                            </div>
                                                            <div class="col-12 col-md-6">
                                                                <div class="product-title">Postal Kode</div>
                                                                <div class="product-subtitle">15138</div>
                                                            </div>
                                                            <div class="col-12 col-md-6">
                                                                <div class="product-title">Country</div>
                                                                <div class="product-subtitle">Indonesia</div>
                                                            </div>
                                                            <div class="col-12 col-md-12">
                                                                <div class="product-title ">Mobile</div>
                                                                <div class="product-subtitle ">+628 5152 5354</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Image Desktop Version -->
                                                    <div class="col-12 col-md-6 d-none d-lg-flex">
                                                        <img src="/images/drawable-mdpi/product-details-dashboard.png" alt="">
                                                    </div>
                                                    <!-- End -->
                                                    <div class="col-12 col-md-3">
                                                        <div class="product-title">Status</div>
                                                        <select name="status" id="status" class="form-control" v-model="status">
                                                                    <option value="UNPAID">UNPAID</option>
                                                                    <option value="PENDING">PENDING</option>
                                                                    <option value="SHIPPING">SHIPPING</option>
                                                                    <option value="SUCCESS">SUCCESS</option>
                                                        </select>
                                                    </div>
                                                    <template v-if="status == 'SHIPPING' "> 
                                                        <div class=" col-md-4">
                                                            <div class="product-title">Input Resi</div>
                                                            <input type="text" class="form-control" name="resi" v-model="resi" > 
                                                        </div>
                                                        <div class="col-md-3">
                                                            <button type="submit" class="btn btn-success px-3 mt-4">Update Resi</button>
                                                        </div>
                                                    </template>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 mt-5">
                                                        <a href="/dashboard-transaction.html" class="btn btn-success px-5">Save Now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.slim.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="/script/navbar-scroll.js"></script>
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    <script src="/vendor/vue/vue.js"></script>
    <script>
        var transactionDetails = new Vue({
            el: '#transactionDetails',
            data: {
                status: "SHIPPING",
                resi: "CGK2H03789568816",
            },
        })
    </script>
</body>

</html>